
html { 
    /* padding: 1em; */

    color: #eee;
    font-size: 1.2rem;
    line-height: 1.2;
    text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
    letter-spacing: 0.125em;
    /* animation-duration: 0.001s;
    animation-name: textflicker;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
}
/* 
@keyframes textflicker {
from {
    text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
}
to {
    text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
}
} */

body:before,
body:after {
    /* display: block; */
    pointer-events: none;
    content: "";
    position: fixed;
}
body:before {
    top: 0;
    left: 0;
    width: 100vw;
    height: 2px;
    z-index: 2147483649;
    opacity: 0.75;
    animation: scanline 2s linear infinite;
}
body:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2147483648;
    background: linear-gradient(
        to bottom,
        transparent 50%,
        rgba(0, 0, 0, 0.3) 51%
    );
    background-size: 100% 4px;
    animation: scanlines 1s steps(60) infinite;
}

/* ANIMATE UNIQUE SCANLINE */
@keyframes scanline {
    0% {
        transform: translate3d(0, 200000%, 0);
    }
}
@keyframes scanlines {
    0% {
        background-position: 0 50%;
    }
}